@import 'tailwindcss';

@theme {
  --color-primary: #0284c7;
  --color-secondary: #00bcff;
}

* {
  box-sizing: border-box;
}

nav ul li:hover {
  color: var(--color-secondary);
  transition: 0.3s;
}
