@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

/* Theme Var */
@theme {
  --color-primary: #0284c7;
  --color-secondary: #00bcff;
  --color-tertiary: #8ec5ff;
  --color-light: #51a2ff;
  --color-blue-sections: #c2dfff;
  --color-gray-brands: #99a1af;
  --color-gray-texts: #7d8591;
}

/* Defaults */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* Default Buttons */
.btn-primary,
.btn-secondary {
  @apply py-2
  border
  border-primary
  rounded 
  font-bold
  text-base
  font-ca
  text-primary
  cursor-pointer
  relative
  overflow-hidden;
}

.btn-primary {
  @apply px-15;
}

.btn-secondary {
  @apply px-10;
}

.btn-primary:hover,
.btn-secondary:hover {
  @apply border-transparent;
}

.btn-primary::before,
.btn-secondary::before {
  content: '';
  @apply absolute inset-y-0 left-0 w-full bg-light;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.btn-primary:hover::before,
.btn-secondary:hover::before {
  transform: translateX(0);
}

.btn-primary:hover span,
.btn-secondary:hover span {
  @apply text-white;
}

/* Navbar */
nav ul li {
  @apply text-sm;
}

nav ul li:hover {
  color: var(--color-secondary);
  transition: 0.3s;
}

/* Sections */
.section-padding {
  @apply px-10 md:px-20;
}

.section-container {
  @apply max-w-7xl mx-auto;
}

.section-title {
  @apply text-5xl font-medium pb-3;
}

.section-title-line {
  @apply relative w-40 h-0.5 bg-primary mb-5;
}

.section-title-line::before {
  content: '';
  @apply absolute -left-1 top-1/2 w-2 h-2 rounded-full bg-primary;
  transform: translateY(-50%);
}

.section-paragraph {
  @apply text-base text-gray-texts text-justify;
}
