@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

/* Theme Var */
@theme {
  --color-primary: #0284c7;
  --color-secondary: #00bcff;
  --color-tertiary: #8ec5ff;
  --color-light: #51a2ff;
  --color-blue-sections: #c2dfff;
  --color-gray-brands: #99a1af;
  --color-gray-texts: #7d8591;
}

/* Defaults */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* Default Buttons */
.btn-primary,
.btn-secondary {
  @apply py-2
  border
  border-primary
  rounded 
  font-bold
  text-base
  text-primary
  cursor-pointer
  relative
  overflow-hidden;
}

.btn-primary {
  @apply px-15;
}

.btn-secondary {
  @apply px-10;
}

.btn-primary:hover,
.btn-secondary:hover {
  @apply border-transparent;
}

.btn-primary::before,
.btn-secondary::before {
  content: '';
  @apply absolute inset-y-0 left-0 w-full bg-tertiary;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.btn-primary:hover::before,
.btn-secondary:hover::before {
  transform: translateX(0);
}

.btn-primary:hover span,
.btn-secondary:hover span {
  @apply text-white;
}

/* Navbar */
nav ul li {
  @apply text-sm;
}

nav ul li:hover {
  color: var(--color-secondary);
  transition: 0.3s;
}

/* Hero */
.hero-container {
  @apply flex
  flex-col
  md:flex-row
  items-center
  h-auto
  md:h-[500px]
  lg:h-[600px];
}

.hero-image-container {
  @apply w-full
  md:w-[50%]
  lg:w-[40%]
  md:relative
  h-full
  pt-7
  md:px-0;
}

.hero-image {
  @apply w-[60%]
  md:w-[550px]
  translate-x-12
  md:absolute
  md:-left-50
  lg:-left-60
  md:bottom-0
  drop-shadow-2xl;
}

/* Sections */
.section-padding {
  @apply px-10 md:px-20 py-20;
}

.section-padding-secondary {
  @apply px-10 md:px-20;
}

.section-container {
  @apply max-w-7xl mx-auto;
}

.section-container-secondary {
  @apply max-w-7xl
  mx-auto
  flex
  flex-col
  md:flex-row
  pt-0
  md:pt-50
  lg:pt-20
  pb-20
  md:pb-20
  lg:pb-0;
}

.section-title {
  @apply text-5xl font-medium pb-3;
}

.section-title-line {
  @apply relative w-40 h-0.5 bg-primary mb-5;
}

.section-title-line::before {
  content: '';
  @apply absolute -left-1 top-1/2 w-2 h-2 rounded-full bg-primary;
  transform: translateY(-50%);
}

.section-paragraph {
  @apply text-base text-gray-texts text-justify;
}

/* Gallery Grid */
.grid-images {
  @apply w-full h-60 rounded-sm object-cover;
}

/* Testimonials */
.testimonial-container {
  @apply flex flex-col items-center;
}

.testimonial-image {
  @apply w-32 h-32 rounded-full object-cover;
}

@keyframes testimonial-fade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-testimonial {
  @apply flex flex-col items-center text-center;
  animation: testimonial-fade 0.99s ease-out;
}
